body{
   background-image: url("21426f6a-291b-4b46-a386-728efc1bd002.jpeg.jpg");
   margin: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size:  cover;
   background-attachment: fixed;
}

#clock-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

#clock {
    color : white;
    font-size: 6.5rem;
    font-family: monospace;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 90%;
    background-color: hsla(0, 0% , 100% , 0.1);
    border-radius: 30px;
}