body {
    margin: 0px;
}
#box {
    font-size: 8rem;
    width:200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}